<div class="container" fxLayout="column" fxLayoutAlign="center center">

  <div>
    <div>
      <h2>{{ 'login.resetPassword' | translate }}</h2>
    </div>

    <div fxLayout="column">
      <mat-form-field>
        <mat-label>{{ 'login.insertMail' | translate }}</mat-label>
        <input
          matInput
          [formControl]="mail"
          type="email"
          autocorrect="off"
          autocapitalize="none"
        />
        <mat-icon matSuffix class="secondary-text">email</mat-icon>
        <mat-error *ngIf="mail.hasError('required')">
          {{ 'login.required' | translate }}
        </mat-error>
        <mat-error *ngIf="mail.hasError('email')">
          {{ 'login.notEmailType' | translate }}
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        [style]="{ backgroundColor: '<%= backgroundColorButton %>',
        color: '<%= wordsColor %>'}"
        [disabled]="mail.invalid"
        (click)="mailHandler()"
      >
        {{ 'login.next' | translate }}
      </button>
    </div>
  </div>
</div>
