<div class="container" fxLayout="column" fxLayoutAlign="center center">

  <div>
    <div>
      <h2>{{ 'login.resetPassword' | translate }}</h2>
    </div>

    <div [formGroup]="newPasswordFG" fxLayout="column">
      <mat-form-field>
        <mat-label>{{ 'login.newPassword' | translate }}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="newPassword" />
        <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="newPasswordControl.hasError('minlength')">
          {{ 'login.passwordMinLength' | translate }}
        </mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('maxlength')">
          {{ 'login.passwordMaxLength' | translate }}
        </mat-error>
        <!-- FOR DISPLAYING ONE ERROR AT A TIME -->
        <mat-error
          *ngIf="!newPasswordControl.hasError('minlength') && !newPasswordControl.hasError('maxlength')"
        >
          <mat-error *ngIf="newPasswordControl.hasError('noUpperCase')">
            {{ 'login.noUpperCase' | translate }}
          </mat-error>
          <mat-error *ngIf="newPasswordControl.hasError('noLowerCase')">
            {{ 'login.noLowerCase' | translate }}
          </mat-error>
          <mat-error *ngIf="newPasswordControl.hasError('noSpecialChar')">
            {{ 'login.noSpecialChar' | translate }}
          </mat-error>
        </mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('required')">
          {{ 'login.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'login.retypePassword' | translate }}</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="repeatedPassword" />
        <mat-icon matSuffix class="pointer" (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="repeatedPasswordControl.hasError('required')">
          {{ 'login.required' | translate }}
        </mat-error>
        <mat-error *ngIf="repeatedPasswordControl.hasError('mismatch')">
          {{ 'login.passwordsMismatch' | translate }}
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        [style]="{ backgroundColor: '<%= backgroundColorButton %>',
        color: '<%= wordsColor %>'}"
        [disabled]="newPasswordFG.invalid"
        (click)="newPasswordHandler()" 
      >
        {{ 'login.confirmPasswordChange' | translate }}
      </button>
    </div>
  </div>
</div>
