<div class="page-without-toolbar" fxLayout="column" fxLayoutAlign="center center">
  
  <div fxLayout="column" fxLayoutAlign="start center" class="logo-container">
    <img class="logo" src="assets/images/Logo_azzurrodigitale_orizzontale.png" />
  </div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'login.resetPassword' | translate }}</mat-card-title>
    </mat-card-header>

    <form [formGroup]="newPasswordFG" (submit)="newPasswordHandler()" fxLayout="column">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'login.newPassword' | translate }}</mat-label>
        <input matInput type="password" [formControl]="newPasswordFC" />
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        <mat-error *ngIf="newPasswordFC.hasError('minlength')">
          {{ 'login.passwordMinLength' | translate }}
        </mat-error>
        <mat-error *ngIf="newPasswordFC.hasError('maxlength')">
          {{ 'login.passwordMaxLength' | translate }}
        </mat-error>
        <!-- FOR DISPLAYING ONE ERROR AT A TIME -->
        <mat-error
          *ngIf="!newPasswordFC.hasError('minlength') && !newPasswordFC.hasError('maxlength')"
        >
          <mat-error *ngIf="newPasswordFC.hasError('noUpperCase')">
            {{ 'login.noUpperCase' | translate }}
          </mat-error>
          <mat-error *ngIf="newPasswordFC.hasError('noLowerCase')">
            {{ 'login.noLowerCase' | translate }}
          </mat-error>
          <mat-error *ngIf="newPasswordFC.hasError('noSpecialChar')">
            {{ 'login.noSpecialChar' | translate }}
          </mat-error>
        </mat-error>
        <mat-error *ngIf="newPasswordFC.hasError('required')">
          {{ 'login.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'login.retypePassword' | translate }}</mat-label>
        <input matInput type="password" [formControl]="repeatedPasswordFC" />
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        <mat-error *ngIf="repeatedPasswordFC.hasError('required')">
          {{ 'login.required' | translate }}
        </mat-error>
        <mat-error *ngIf="repeatedPasswordFC.hasError('mismatch')">
          {{ 'login.passwordsMismatch' | translate }}
        </mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        class="submit-button"
        [disabled]="!newPasswordFG.valid"
      >
        {{ 'login.confirmPasswordChange' | translate }}
      </button>
    </form>
  </mat-card>
</div>
