<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ 'login.title' | translate }}</mat-card-title>
    </mat-card-header>

    <div
      name="loginForm"
      [formGroup]="loginForm"
      fxLayout="column">

      <mat-form-field>
        <mat-label>{{ 'login.username' | translate }}</mat-label>
        <input matInput formControlName="username" />
        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
        <mat-error *ngIf="loginForm.get('username').hasError('required')">
          {{ 'validator.errorMessage.required' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ 'login.password' | translate }}</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        <mat-error>
          {{ 'validator.errorMessage.required' | translate }}
        </mat-error>
      </mat-form-field>

      <div>
        <a [routerLink]="['reset-password']" class="password-forgotten">{{
          'login.passwordForgotten' | translate
        }}</a>
      </div>

      <br />

      <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login(loginForm.getRawValue())">
        {{ 'login.login' | translate }}
      </button>
    </div>
  </mat-card>
</div>
